NAME=AsphaltRedeemBot
TYPE=bot
MAIN=bot.py
RAM=256
VERSION=latest
AUTORESTART=true
env.BOT_TOKEN=MTU0NTQ3MjMwOTA1MjE4NjY2NQ.Gh9F0D.4LuKyoVTmtXwiPV_GY4eBgjiwEu6NkWs4llk74
env.MONGO_URI=mongodb+srv://aubreya100114_db_user:9EPtT0nidEZEkz6p@cluster0.qoxyjym.mongodb.net/asphalt_bot_db?authSource=admin&retryWrites=true&w=majority
env.MONGO_DB_NAME=asphalt_bot_db
